<h2>Paises</h2>
<hr />

<ul class="list-group">
 <!--  <li
    routerLink=""
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    class="list-group-item"
  >
    homepage
  </li>
  <li routerLink="about" routerLinkActive="active" class="list-group-item">
    about page
  </li>
  <li routerLink="contact" routerLinkActive="active" class="list-group-item">
    contact
  </li> -->
  <li
    routerLink="countries/by-capital"
    class="list-group-item"
    routerLinkActive="active"
  >
    por capital
  </li>
  <li
    routerLinkActive="active"
    routerLink="countries/by-country"
    class="list-group-item"
  >
    Por pais
  </li>
  <li
    class="list-group-item"
    routerLink="countries/by-region"
    routerLinkActive="active"
  >
    por región
  </li>
</ul>
